<div class="search-container">
    <form  class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">{{title| uppercase}}</span>
        <input class="search-input" 
        name="search"
        placeholder="Search all for your services"
         ngModel>
        <button class="search-button"> Search</button>
        </form>

</div>